<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="/">Coffee<small>Blend</small></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto d-flex align-items-center">
                <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
                {% for item in main_menu %}
                    <li class="nav-item {% if item.is_anchor %}active{% endif %}">
                        <a href="
                                {% if item.is_anchor %}{% url 'coffee:home' %}{{ item.slug }}{% else %}{{ item.get_absolute_url }}{% endif %}"
                           class="nav-link">
                            {{ item.slug }}
                        </a>
                    </li>
                {% endfor %}
                <li class="nav-item cart">
                    <a href="/cart/" class="nav-link d-flex align-items-center">
                        <span class="icon icon-shopping_cart mr-2"></span>
                        <div>
                            <small class="font-weight-bold" style="color: burlywood">{{ cart_items_count }}</small>
                        </div>
                    </a>
                </li>
                <li class="nav-item cart ml-2">
                    {% if user.is_authenticated %}
                        <div class="d-flex align-items-center">
                            <span class="icon icon-account_circle mr-2" ></span>
                            <span class="mr-2" style="color: #c49b63;">{{ user.username }}</span>
                            <a href="{% url 'logout' %}" class="nav-link" style="color: #c49b63;" >Logout</a>
                        </div>
                    {% else %}
                        <a href="/login/" class="nav-link">
                            <span class="icon icon-account_circle"></span>
                        </a>
                    {% endif %}
                </li>
            </ul>

        </div>
    </div>
</nav>
