{% load static %}
<section class="ftco-about d-md-flex">
    <div class="one-half img" style="background-image: url('{% static "assets/images/about.jpg" %}');"></div>
    <div class="one-half ftco-animate">
        <div class="overlap">
            <div class="heading-section ftco-animate ">
                <span class="subheading">Discover</span>
                <h2 class="mb-4">Our Story</h2>
            </div>
            <div>
                <p>Embark on a journey through time as you discover Our Story. From humble beginnings to moments of
                    triumph, our narrative is woven with passion, dedication, and a love for creating memorable
                    experiences. Join us in this captivating tale that brings our brand to life, and share in the
                    chapters that define who we are.
                </p>
            </div>
        </div>
    </div>
</section>