<form action="" method="post" role="form" class="appointment-form"
      data-aos="fade-up" data-aos-delay="100">
    {% csrf_token %}
    <div class="d-md-flex">
        <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="name">
        </div>
        <div class="form-group ml-md-4">
            <input type="text" class="form-control" name="last_name" placeholder="last_name">
        </div>
    </div>
    <div class="d-md-flex">
        <div class="form-group">
            <div class="input-wrap">
                <div class="icon"><span class="ion-md-calendar"></span></div>
                <input type="text" class="form-control appointment_date" name="date" placeholder="date">
            </div>
        </div>
        <div class="form-group ml-md-4">
            <div class="input-wrap">
                <div class="icon"><span class="ion-ios-clock"></span></div>
                <input type="text" class="form-control appointment_time" name="time" placeholder="time">
            </div>
        </div>
        <div class="form-group ml-md-4">
            <input type="text" class="form-control" name="phone" placeholder="phone">
        </div>
    </div>
    <div class="d-md-flex">
        <div class="form-group"><textarea cols="30" rows="2" class="form-control" name="message"
                                          placeholder="message"></textarea>
        </div>
        <div class="form-group ml-md-4">
            <input type="submit" value="Appointment"
                   class="btn {% if page_id == 1 %}btn-primary{% else %}btn-white{% endif %} py-3 px-4"
                   id="submitBtn_{{ page_id }}">
        </div>
    </div>
</form>

