{% load static %}
<section class="ftco-menu">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Discover</span>
                <h2 class="mb-4">Our Products</h2>
                <p>Delve into a world of quality and innovation as you discover Our Products. Each item is a testament
                    to our commitment to excellence, crafted with precision and passion. From essentials to indulgent
                    treats, explore a curated collection that reflects our dedication to elevating your experience.
                    Uncover the best in every product, and let your journey of discovery begin!</p>
            </div>
        </div>
        <div class="row d-md-flex">
            <div class="col-lg-12 ftco-animate p-md-5">
                <div class="row">
                    <div class="col-md-12 nav-link-wrap mb-5">
                        <div class="nav ftco-animate nav-pills justify-content-center" id="v-pills-tab"
                             role="tablist" aria-orientation="vertical">
                            {% for category in categories %}
                                <a class="nav-link{% if forloop.first %} active{% endif %}"
                                   id="v-pills-{{ forloop.counter0 }}-tab" data-toggle="pill"
                                   href="#v-pills-{{ forloop.counter0 }}" role="tab"
                                   aria-controls="v-pills-{{ forloop.counter0 }}"
                                   aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">{{ category.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-12 d-flex align-items-center">
                        <div class="tab-content ftco-animate" id="v-pills-tabContent">
                            {% for category in categories %}
                                <div class="tab-pane fade{% if forloop.first %} show active{% endif %}"
                                     id="v-pills-{{ forloop.counter0 }}" role="tabpanel"
                                     aria-labelledby="v-pills-{{ forloop.counter0 }}-tab">
                                    <div class="row align-items-start" style="gap:32px 0px">
                                        {% for dish in category.dishes.all %}
                                            <div class="col-md-4">
                                                <img src="{{ dish.photo.url }}" alt="{{ dish.name }}"
                                                     class="menu-img mb-4" style="height: 280px; width: 100%">
                                                <div class="text text-center pt-4">
                                                    <h3><a href="product-single.html">{{ dish.name }}</a></h3>
                                                    <p class="description"
                                                       style="height: 100px">{{ dish.description }}</p>
                                                </div>
                                                <div class="text-center">
                                                    <p class="price"><span>$ {{ dish.price }}</span></p>
                                                    <form method="post"
                                                          action="{% url 'coffee:add_to_cart' %}">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="product_id"
                                                               value="{{ dish.id }}">
                                                        <button type="submit"
                                                                class="btn btn-primary btn-outline-primary mt-auto">
                                                            Add to cart
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

</section>