{% load static %}
<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image: url('{% static "assets/images/bg_1.jpg" %}');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
                <div class="col-md-8 col-sm-12 text-center ftco-animate">
                    <span class="subheading">Welcome</span>
                    <h1 class="mb-4">The Best Coffee Testing Experience</h1>
                    <p class="mb-4 mb-md-5">Welcome to an unparalleled coffee tasting experience, where each cup is a
                        journey into the world of the finest flavors and aromas..</p>
                    <p><a href="/shop/" class="btn btn-primary p-3 px-xl-4 py-xl-3">Order Now</a>
                        <a href="/menu/" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">View Menu</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-item" style="background-image: url('{% static "assets/images/bg_2.jpg" %}');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
                <div class="col-md-8 col-sm-12 text-center ftco-animate">
                    <span class="subheading">Welcome</span>
                    <h1 class="mb-4">Amazing Taste &amp; Beautiful Place</h1>
                    <p class="mb-4 mb-md-5">Welcome to a place where amazing taste meets a beautiful atmosphere,
                        creating an unforgettable experience for your senses.</p>
                    <p><a href="/shop/" class="btn btn-primary p-3 px-xl-4 py-xl-3">Order Now</a>
                        <a href="/menu/" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">View Menu</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-item" style="background-image: url('{% static "assets/images/bg_3.jpg" %}');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
                <div class="col-md-8 col-sm-12 text-center ftco-animate">
                    <span class="subheading">Welcome</span>
                    <h1 class="mb-4">Creamy Hot and Ready to Serve</h1>
                    <p class="mb-4 mb-md-5">Welcome to a place where creamy indulgence meets warm hospitality – our
                        coffee is hot, our atmosphere is inviting, and we're ready to serve you the perfect moment.</p>
                    <p><a href="/shop/" class="btn btn-primary p-3 px-xl-4 py-xl-3">Order Now</a>
                        <a href="/menu/" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">View Menu</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>