{% extends 'index.html' %}

{% block content %}

    {% load static %}

    <section class="home-slider owl-carousel">

        <div class="slider-item" style="background-image: url('{% static "assets/images/bg_3.jpg" %}');"
             data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center">

                    <div class="col-md-7 col-sm-12 text-center ftco-animate">
                        <h1 class="mb-3 mt-5 bread">Blog Details</h1>
                        <p class="breadcrumbs"><span class="mr-2"><a href="/">Home</a></span> <span class="mr-2"><a
                                href=/blog/>Blog</a></span> <span>Blog Single</span></p>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ftco-animate">
                    <h2 class="mb-3">{{ post.title }}</h2>
                    <p>{{ post.content }}</p>
                    {% if post.image %}
                        <p>
                            <img src="{{ post.image.url }}" alt="{{ post.image.alt }}" class="img-fluid">
                        </p>
                    {% endif %}
                    <div class="comment-form-wrap pt-5">
                        <h3 class="mb-5">Leave a comment</h3>
                        <form method="post" role="form">
                            {% csrf_token %}
                            <div class="form-error">{{ form.non_field_errors }}</div>
                            <div class="gy-4">
                                {% for f in form %}
                                    <p><label class="form-label"
                                              for="{{ f.id_for_label }}">{{ f.label }}:</label>{{ f }}
                                    </p>
                                    <div class="form-error" style="padding-left: 15px">{{ f.errors }}</div>
                                {% endfor %}
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary" id="submit_comments">Submit</button>
                            </div>
                        </form>
                    </div>


                    {#                    <div class="pt-5 mt-5">#}
                    {#                        <h3 class="mb-5">{{ post.comments.count }} Comments</h3>#}
                    {#                        <ul class="comment-list">#}
                    {#                            {% for comment in comments %}#}
                    {#                                <li class="comment">#}
                    {#                                    <div class="comment-body">#}
                    {#                                        <h3>{{ comment.author }}</h3>#}
                    {#                                        <div class="meta">{{ comment.date_posted }}</div>#}
                    {#                                        <p>{{ comment.content }}</p>#}
                    {##}
                    {#                                        <p>#}
                    {#                                            <a href="#reply_{{ comment.id }}" class="reply">Reply</a>#}
                    {#                                        </p>#}
                    {##}
                    {#                                        <!-- Форма ответа на комментарий -->#}
                    {#                                        <form id="reply_form_{{ comment.id }}" method="post" role="form"#}
                    {#                                              class="reply-form" style="display: none;">#}
                    {#                                            {% csrf_token %}#}
                    {#                                            <input type="hidden" name="parent_id`" id="parent_id" value="{{ comment.id }}">#}
                    {#                                            <div class=" form-error">{{ form.non_field_errors }}</div>#}
                    {#                                            <div class="gy-4">#}
                    {#                                                {% for f in form %}#}
                    {#                                                    <p>#}
                    {#                                                        <label class="form-label"#}
                    {#                                                               for="{{ f.id_for_label }}">{{ f.label }}:</label>{{ f }}#}
                    {#                                                    </p>#}
                    {#                                                    <div class="form-error"#}
                    {#                                                         style="padding-left: 15px">{{ f.errors }}#}
                    {#                                                    </div>#}
                    {#                                                {% endfor %}#}
                    {#                                            </div>#}
                    {#                                            <div class="text-center">#}
                    {#                                                <button type="submit" class="btn btn-primary" id="submit_comments">#}
                    {#                                                    Submit#}
                    {#                                                </button>#}
                    {#                                            </div>#}
                    {#                                        </form>#}
                    {#                                        <form id="reply_form_{{ comment.id }}" class="reply-form" method="post"#}
                    {#                                              style="display: none;">#}
                    {#                                            {% csrf_token %}#}
                    {#                                            {{ reply_form.as_p }}#}
                    {#                                            <input type="hidden" name="parent_comment_id" value="{{ comment.id }}">#}
                    {#                                            <button type="submit" class="btn btn-primary">Submit</button>#}
                    {#                                        </form>#}
                    {##}
                    {#                                        <!-- Ответы на комментарии -->#}
                    {#                                        <ul class="replies">#}
                    {#                                            {% for reply in comment.replies.all %}#}
                    {#                                                <li>{{ reply.author }}: {{ reply.content }}</li>#}
                    {#                                            {% endfor %}#}
                    {#                                        </ul>#}
                    {#                                    </div>#}
                    {#                                </li>#}
                    {#                            {% endfor %}#}
                    {#                        </ul>#}
                    {#                    </div>#}
                    <div class="pt-5 mt-5">
                        <h3 class="mb-5">{{ post.comments.count }} Comments</h3>
                        <ul class="comment-list">
                            {% for comment in comments %}
                                <li class="comment ml-5">
                                    <!-- Информация о комментарии -->
                                    <h3>{{ comment.author }}</h3>
                                    <div class="meta">{{ comment.date_posted }}</div>
                                    <p>{{ comment.content }}</p>

                                    <!-- Форма ответа на комментарий -->
                                    <p>
                                        <a href="#reply_{{ comment.id }}" class="reply">Reply</a>
                                    </p>
                                    <form id="reply_form_{{ comment.id }}" method="post" role="form"
                                          class="reply-form" style="display: none;">
                                        {% csrf_token %}
                                        <input type="hidden" name="parent_id" id="parent_id"
                                               value="{{ comment.id }}">
                                        <div class="form-error">{{ form.non_field_errors }}</div>
                                        <div class="gy-4">
                                            {% for f in form %}
                                                <p>
                                                    <label class="form-label"
                                                           for="{{ f.id_for_label }}">{{ f.label }}:</label>{{ f }}
                                                </p>
                                                <div class="form-error"
                                                     style="padding-left: 15px">{{ f.errors }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary" id="submit_comments">
                                                Submit
                                            </button>
                                        </div>
                                    </form>

                                    <!-- Ответы на комментарии -->
                                    <ul class="replies">
                                        {% for reply in comment.replies.all %}
                                            <li class="comment ml-5">
                                                <!-- Информация о дочернем комментарии (ответе) -->
                                                <h3>{{ reply.author }}</h3>
                                                <div class="meta">{{ reply.date_posted }}</div>
                                                <p>{{ reply.content }}</p>

                                                <!-- Форма ответа на ответ -->
                                                <p><a href="#reply_{{ reply.id }}" class="reply">Reply</a></p>

                                                <form id="reply_form_{{ reply.id }}" method="post" role="form"
                                                      class="reply-form" style="display: none;">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="parent_id" id="parent_id"
                                                           value="{{ reply.id }}">
                                                    <div class=" form-error">{{ form.non_field_errors }}</div>
                                                    <div class="gy-4">
                                                        {% for f in form %}
                                                            <p>
                                                                <label class="form-label"
                                                                       for="{{ f.id_for_label }}">{{ f.label }}:</label>{{ f }}
                                                            </p>
                                                            <div class="form-error"
                                                                 style="padding-left: 15px">{{ f.errors }}
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                    <div class="text-center">
                                                        <button type="submit" class="btn btn-primary"
                                                                id="submit_comments">
                                                            Submit
                                                        </button>
                                                    </div>
                                                </form>

                                                <!-- Рекурсивное вывод дочерних ответов -->
                                                <ul class="replies">
                                                    <!-- Можно использовать аналогичный подход для еще более вложенных ответов -->
                                                    {% for reply in reply.replies.all %}
                                                        <li class="comment ml-5">
                                                            <!-- Информация о дочернем комментарии (ответе) -->
                                                            <h3>{{ reply.author }}</h3>
                                                            <div class="meta">{{ reply.date_posted }}</div>
                                                            <p>{{ reply.content }}</p>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}