{% extends 'index.html' %}

{% block content %}

    {% include 'includes/home_slider.html' %}

    {% include 'includes/intro.html' %}

    {% include 'includes/about.html' %}

    {% include 'includes/media_body.html' %}

    {% include 'includes/discover_menu.html' %}

    {% include 'includes/coffee_branches.html' %}

    {% include 'includes/discover_best_coffee.html' %}

    {% include 'includes/gallery.html' %}

    {% include 'includes/discover_products.html' %}

    {% include 'includes/customers_says.html' %}

    {% include 'includes/recent_from_blog.html' %}

    {% include 'includes/appointment.html' %}

{% endblock %}