{% extends 'index.html' %}
{% block content %}
    {% load static %}
    <section class="ftco-section text-center bt-4">
        <div class="mt-5 text-center">
            <h1>Order Confirmation</h1>
            <p>Thank you for your purchase!</p>

            <h2>Order Details</h2>
            <p>Order ID: {{ order.id }}</p>
            <p>Total Amount: ${{ total_amount }}</p>

            <p>For any inquiries, please contact our customer support.</p>
        </div>
    </section>
{% endblock %}